body{
  text-align: center;
  /*background: url("http://www.publicdomainpictures.net/pictures/70000/velka/old-white-background.jpg");*/
  color: #000000;
}

/*nav bar*/
nav{
  height: 15em;
  width: 7em;
  display: inline-block;
  float: left;
  clear: both;
}

/*game start*/
#start-game{
  height: 5em;
  width: 6em;
  float: left;
  clear: both;
  margin: 25em 2em 2em 2.5em;
  border-radius: 3em;
  background-color: #00FF00;
  font-family: 'Montserrat', sans-serif;
}

/*clear buttons*/
#reset{
  height: 5em;
  width: 6em;
  float: left;
  clear: both;
  margin: 1em 2em 2em 2.5em;
  border-radius: 3em;
  background-color: #FF0000;
  font-family: 'Montserrat', sans-serif;
}

/*game name*/
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
}

/*main div holding gameboard*/
#main{
  height: 33em;
  width: 35em;
  margin: 2em auto;
  background: #347cef;
  z-index: 1;
  border-radius: 1em;
  box-shadow: 10px 5px 5px black;
  /*background-image: linear-gradient(to right, #0000CC, #0033FF, #0099FF, #FFFFFF, #0099FF, #0000CC);*/
}

#position-holder{
  margin-top: 2.5em;
  display: inline-block;
}

/*square positions*/
.positions{
  height: 4em;
  width: 4em;
  display: inline-block;
  background-color: #FFFFFF;
  z-index: 2;
  margin: .3em;
  border-radius: 3em;
  box-shadow: inset .3em .2em .2em black;
}

/*game information*/
p{
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  margin: 2em;
}

hr{
  width: 70%;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
